<main>
    <h1>Hi!</h1>
    <h4>Add Author</h4>
    <form action="author/create" method="post">
        <input type="text" name="name">
        <input type="submit" value="Add Author">
    </form> 

    <h4>Add Quote</h4> 
    <form action="quote/create" method="post">
        <select name="author_id">
            @foreach (var author in ViewBag.authors)
            {
                <option value="@author.author_id">@author.name</option>
            }
        </select>
        <textarea type="text" name="quote"></textarea>
        <input type="submit" value="Add Quote">
    </form>

    <h4>Add Category</h4>
    <form action="category/create" method="post">
        <input tupe="text" name="name">
        <input type="submit" value="Add Category">
    </form>

    <h4>All Authors</h4>
    <ul>
        @foreach(var author in ViewBag.authors)
        {
            <li>@author.name</li>
        }
    </ul>

    <h4>All Quotes</h4>
    <ul>
        @foreach(var quote in ViewBag.quotes)
        {
            <li>@quote.quote by Author No. @quote.author_id</li>
        }
    </ul>

</main>